:root {
    /* change the values below to your colors from your palette */
    --primary-color: #0b2af1;
    --secondary-color: #ed8c0c;
    --warning-color: #f1f109;
    --danger-color: #ef0b0b;
    --info-color: #0ea1bb;
    --
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.warning {
    background-color: var(--warning-color);
}

.danger {
    background-color: var(--danger-color);
}

.info {
    background-color: var(--info-color);
}